<section id="about">
    <h2>About</h2>
    <p>
        Hi there. I'm a creative coder & technologist based in New York and am currently enrolled in the MFA Design + Technology program at Parsons The New School for Design. I'm interested in all things that lie at the intersection of design & tech, from data visualization to interactive installations, projection mapping, and physical computing. I also love architecture and history. When I can, I enjoy riding my bike, snowboarding, and sailing.
    </p>
</section>

<hr>

<section id="projects">

    <h2>Projects</h2>

    <div class="row">

        <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/the-power-garden"><img src="img/projects/the-power-garden/thumb.jpg"></a>
            <h2>The Power Garden</h2>
            <p>
                Inviting commuters to care for and engage with an urban garden.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/the-power-garden/">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile" id="living-billboard">
            <a rel="load-project" href="projects/living-billboard"><img src="img/projects/living-billboard/thumb.jpg"></a>
            <h2>Living Billboard</h2>
            <p>
                Bringing a billboard to life for Cannes Lions.
                <br>&nbsp;
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/living-billboard">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile" id="gif-wall">                    
            <a rel="load-project" href="projects/gif-wall"><img src="img/projects/gif-wall/thumb.jpg"></a>
            <h2>GIF Wall</h2>
            <p>
                Design+Technology students show off their fun side.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/gif-wall">View details &raquo;</a>
            </p>
        </div>
        
    </div>

    <div class="row">

        <!-- <h4 class="span12">Code, design, mobile, physical computing, data visualization</h4> -->

        <div class="span4 portfolio-tile" id="qubies">
            <a rel="load-project" href="projects/qubies"><img src="img/projects/qubies/thumb.png"></a>
            <h2>QUBIES</h2>
            <p>
                iPad game utilizing soft-body physics.
                <br>&nbsp;
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/qubies">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile" id="spirographs">                    
            <a rel="load-project" href="projects/spirographs"><img src="img/projects/spiros/thumb.jpg"></a>
            <h2>Spirographs</h2>
            <p>
                An experiment with spirograph algorithms.
                <br>&nbsp;
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/spirographs">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/apartment-hunting"><img src="img/projects/apartment-hunting/thumb.png"></a>
            <h2>Apartment Hunting</h2>
            <p>
                What it takes to find a New York City apartment at the peak of moving season.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/apartment-hunting">View details &raquo;</a>
            </p>
        </div>
        
    </div>

    <!--
    <div class="row">
       <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/how-far-can-you-walk"><img src="img/projects/how-far-can-you-walk/thumb.png"></a>
            <h2>How Far can You Walk?<br>&nbsp;</h2>
            <p>
                A data visualization of how far you can walk before someone is in your way.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/how-far-can-you-walk">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/wikipedia-earthquakes-visualized"><img src="img/projects/wikipedia-earthquakes-visualized/thumb.png"></a>
            <h2>Wikipedia Earthquakes Visualized</h2>
            <p>
                 A data visualization piece comparing the impact of an earthquake with its Wikipedia presence.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/wikipedia-earthquakes-visualized">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/interactive-kinetic-sculpture"><img src="img/projects/interactive-kinetic-sculpture/thumb.png"></a>
            <h2>Interactive Kinetic Sculpture</h2>
            <p>
                An interactive sculpture that responds to activity in the room.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/interactive-kinetic-sculpture">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/generative-trees"><img src="img/projects/generative-trees/thumb.png"></a>
            <h2>Generative Trees<br>&nbsp;</h2>
            <p>
                A forest of generative trees. Want another? Just press a button.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/generative-trees">View details &raquo;</a>
            </p>
        </div>
    </div>
    -->



    <!--
    <div class="row">

        <div class="span4 portfolio-tile">
            <img src="img/projects/particles/thumb.png">
            <h2>Particles</h2>
            <p>
                Using forces in particle systems & vector fields.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/particles">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile">
            <img src="img/projects/street-directory-intervention/thumb.png">
            <h2>Street Directory Intervention</h2>
            <p>
                A short, simple description.
            </p>
            <p>
                <a class="btn" rel="load-project" href="#">View details &raquo;</a>
            </p>
        </div>
    </div>

    <div class="row">

        <div class="span4 portfolio-tile">
            <img src="img/projects/code-type/thumb.png">
            <h2>Code & Type</h2>
            <p>
                A short, simple description.
            </p>
            <p>
                <a class="btn" rel="load-project" href="#">View details &raquo;</a>
            </p>
        </div>
    </div>

    -->

    <!--
    <div class="row">

        <h4 class="span12">Web apps for retail</h4>

        <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/stock-status"><img src="img/projects/stock-status/thumb.png"></a>
            <h2>Stock Status<br>&nbsp;</h2>
            <p>
                At-a-glance information for high-demand products.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/stock-status">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/event-registration-manager"><img src="img/projects/event-registration-manager/thumb.png"></a>
            <h2>Event Registration Manager</h2>
            <p>
                Portal for registration & administration of internal training workshops.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/event-registration-manager">View details &raquo;</a>
            </p>
        </div>

        <div class="span4 portfolio-tile">
            <a rel="load-project" href="projects/employee-vacation-scheduler"><img src="img/projects/employee-vacation-scheduler/thumb.png"></a>
            <h2>Employee Vacation Scheduler</h2>
            <p>
                A tool for tracking availability of employee vacations by job role.
            </p>
            <p>
                <a class="btn" rel="load-project" href="projects/employee-vacation-scheduler">View details &raquo;</a>
            </p>
        </div>
        
    </div>
    -->

</section>

<hr>

<section id="resume">
    <h2>
        Resume
        <small><a href="img/resume.pdf" target="_blank"><i class="fa fa-cloud-download resume-download"></i></a></small>
    </h2>
    

    <h4>Education</h4>
    <p>
        Parsons The New School for Design
        <span class="pull-right">New York, NY</span><br>

        MFA Candidate, Design + Technology
        <span class="pull-right">2012 - 2014</span><br>

        Summer Studies in Architecture
        <span class="pull-right">2008</span>
    </p>
    <p>
        New College of Florida
        <span class="pull-right">Sarasota, FL</span><br>

        Bachelors of Art in Biology/Chemistry
        <span class="pull-right">2004 - 2008</span><br>
        
        Baccalaureate thesis: Quantitation of Small RNAs in <em>Caenorhabditis elegans</em> using Real-Time RT-PCR
        
    </p>
    <!-- <p>
        Dr. Michael M. Krop High School
        <span class="pull-right">Miami, FL</span><br>

        Television Production & Photography Magnet Program
        <span class="pull-right">2000 - 2004</span><br>

        Robotics Club president, Math & Science Honor Societies member
    </p> -->

    <p>&nbsp;</p>

    <h4>Honors & Achievements</h4>
    <p>
        Bootcamp Teaching Fellowship
        <span class="pull-right">2013</span><br>

        Parsons Graduate Dean's List Scholarship
        <span class="pull-right">2012 - 2014</span><br>

        New College of Florida Scholarship
        <span class="pull-right">2004 - 2008</span><br>

        Florida Bright Futures Scholarship
        <span class="pull-right">2004 - 2008</span><br>
    </p>

    <p>&nbsp;</p>

    <h4>Skills</h4>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" style="text-align: right;">Web</div>
            <div class="span9">HTML5, CSS3, JavaScript/jQuery, D3.js</div>
        </div>
        <div class="row-fluid">
            <div class="span3" style="text-align: right;">Programming</div>
            <div class="span9">Node.js, PHP, SQL/MySQL, mongoDB, C++, Objective-C, Xcode, Git</div>
        </div>
        <div class="row-fluid">
            <div class="span3" style="text-align: right;">Interactive Platforms</div>
            <div class="span9">Processing/Processing.js, openFrameworks, Arduino</div>
        </div>
        <div class="row-fluid">
            <div class="span3" style="text-align: right;">Creative/Productivity Software</div>
            <div class="span9">Adobe Creative Suite, Apple iWork, Microsoft Office, Google Docs</div>
        </div>
        <div class="row-fluid">
            <div class="span3" style="text-align: right;">Operating Systems</div>
            <div class="span9">Mac OS X, Microsoft Windows, UNIX-based Operating Systems</div>
        </div>

        <div class="row-fluid">
            <div class="span3" style="text-align: right;">Personal</div>
            <div class="span9">Excellent written & verbal skills, interpersonal & technical savvy, fast learner, high attention to detail, hard-working, passionate, highly organized</div>
        </div>
    </div>

    <p>&nbsp;</p>

    <h4>Experience</h4>
    <p>
        <a href="http://arbitrary.io/" target="external">Arbitrary</a>
        <span class="pull-right">New York, NY</span><br>

        Freelance Developer
        <span class="pull-right">2014</span><br>
    </p>
    <p>
        <a href="http://www.metmuseum.org/about-the-museum/museum-departments/office-of-the-director/digital-media-department/digital-underground" target="external">MediaLab, Digital Media Department</a>
        <span class="pull-right">New York, NY</span><br>

        The Metropolitan Museum of Art
        <span class="pull-right">2013 - 2014</span><br>

        Developer/Technologist Intern
    </p>
    <p>
        <a href="http://incrediblemachines.net/" target="external">Incredible Machines</a>
        <span class="pull-right">New York, NY</span><br>

        Creative Developer Intern
        <span class="pull-right">2013</span><br>

        <!-- Wrote custom software for a number of interactive installations, including particle system animations for assembling images & tweets and developing backend infrastructure for delivering real-time communication & interaction data. -->
    </p>
    <p>
        <a href="http://www.apple.com/" target="external">Apple Inc.</a>
        <span class="pull-right">Miami, FL & New York, NY</span><br>

        Software Development, Special Projects in Operations & Visual Merchandising
        <span class="pull-right">2008 - 2012</span><br>

        <!-- Built a number of internal retail web applications for mobile and desktop use, designed layouts for a variety of informational signage, and set up multiple flagship locations for grand opening. Worked to ensure proper representation of brand image through various merchandising techniques, developed standards reference materials, and trained members of the visual merchandising team. -->
    </p>
    <p>
        <a href="http://www.studioakt.com/" target="external">StudioAKT</a>
        <span class="pull-right">Miami, FL</span><br>

        Web Developer
        <span class="pull-right">2000 - 2011</span><br>

        <!-- Worked on a vast array of web projects with the StudioAKT design & development group. Database design, administrative content management system implementation, and integration of dynamically generated content into websites were the focus of many projects for a variety of clientele. Technologies utilized included HTML/CSS/JavaScript, PHP, MySQL, AJAX, and payment gateways. -->
    </p>
    <!-- <p>
        New College of Florida
        <span class="pull-right">Sarasota, FL</span><br>

        Allocations Committee Chair
        <span class="pull-right">2007 - 2008</span><br>

        Chaired a committee responsible for reviewing applications from students and allocating school funds for various events, equipment, guest speakers, etc. Responsible for working with student government and the business manager to determine the academic year budget for various on-campus facilities and events, running allocations review proceedings, working with neighboring universities to create budgets for joint-use facilities, and managing allocations spending.
    </p> -->

    
    
</section>

<hr>

<section id="contact">
    <h2>Contact</h2>
    <p>You can find me at all the usual places</p>
    <p>
        <a href="http://github.com/mattfelsen" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> &nbsp;
        <a href="http://linkedin.com/in/mattfelsen" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> &nbsp;
        <a href="http://twitter.com/mattfelsen" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a> &nbsp;
        <a href="http://instagram.com/mattfelsen" target="_blank"><i class="fa fa-instagram fa-2x"></i></a> &nbsp;
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#116;&#116;&#102;&#101;&#108;&#115;&#101;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#72;&#105;&#32;&#116;&#104;&#101;&#114;&#101;"><i class="fa fa-envelope fa-2x email-link"></i></a>
    </p>
</section>

