<div class="row">
    <div class="project-description span10 offset1">
        <h2>City Pulse at One World Observatory</h2>
        <p>
            City Pulse, an installation consisting of a set of ten monitors uniquely arranged in a ring, allows tour guides to engage with visitors to
            One World Observatory, pointing out city landmarks, providing a virtual tour of city culture & history, and weave in updates from relevant
            social media channels. A custom-designed gesture control system allows staff members wearing an armband to summon & manipulate media
            across the screens to enhance their stories about nightlife, parks, kids' activies, sports, and more as they engage with visitors and respond
            to audience questions.
        </p>
        <p>
          My role in this project was as technology lead. This included prototyping and production software of Bluetooth armband code & communication/relationship-building with the hardware manufacturer, writing much of the frontend multi-channel video software, overseeing & consulting with additional back- and front-end developers, writing extensive documentation, liaising with other designers throughout the project, liaising with
          vendors on-site during installation, and troubleshooting/maintenace of the project post-launch.
        </p>
        <p>
            Selected Press:<br>

            <a href="http://www.fastcodesign.com/3046750/slicker-city/the-coolest-thing-about-1-world-trade-centers-new-observatory-isnt-the-view">The Coolest Thing About 1 World Trade Center's New Observatory Isn't The View</a> - Fast.Co DESIGN<br>
            <a href="http://gothamist.com/2015/05/21/1_wtc_observatory_ooh_ahh.php">Our First Glimpse Of 1 World Trade Center's Breathtaking New Observatory</a> - Gothamist<br>
            <a href="http://ny.curbed.com/archives/2014/04/25/lost_landmarks_project_visualizes_new_yorks_past_onsite.php">Lost Landmarks Project Visualizes New York's Past On-Site</a> - New York Times<br>
            <a href="http://www.bbc.com/news/world-us-canada-32819919">The view from New York's One World Trade Center</a> - BBC News<br>
        </p>
        <p>
            A <a href="http://localprojects.com">Local Projects</a> project.
        </p>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="project-image-container">
            <iframe src="https://player.vimeo.com/video/165923971" width="780" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="https://vimeo.com/165923971">City Pulse at One World Observatory</a> from <a href="https://vimeo.com/mattfelsen">The Hettema Group</a></p>
        </div>
        <div class="project-image-container">
            <iframe src="https://player.vimeo.com/video/144147686?title=0&byline=0&portrait=0" width="780" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="https://vimeo.com/144147686">City Pulse for One World Observatory</a> from <a href="https://vimeo.com/localprojects">Local Projects</a>.</p>
        </div>
        <div class="project-image-container">
            <img src="img/projects/city-pulse/city-pulse-1.jpg"><br>
            Photo credit: <a href="http://www.fastcodesign.com/3046750/slicker-city/the-coolest-thing-about-1-world-trade-centers-new-observatory-isnt-the-view">Fast.Co DESIGN</a>
        </div>
    </div>
</div>
