<div class="row">
    <div class="project-description span10 offset1">
        <h2>Generative Trees</h2>
        <p>
            Spacebrew and Processing combine to generate a forest of trees. Using a physical button, an arduino, and a Processing sketch, button events were sent to Spacebrew while another computer listened for events to add another tree to the forest. Also, some interesting results when you mess with the draw buffer.
        </p>
        <p>
            Created with Processing, Arduino and Spacebrew.
        </p>
    </div>
</div>

<div class="row">
    <div id="project-carousel" class="span10 offset1 carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="item active"><img src="img/projects/generative-trees/tree1.jpg"></div>
            <div class="item">
                <video id="post_html5_api" class="vjs-tech" loop="" preload="auto" autoplay="true" muted="true" src="https://vines.s3.amazonaws.com/videos/A0F419AF-FC55-419E-A25F-855C9F30519B-4644-000001A7740A0890_1.0.5.mp4?versionId=iGswNiu7sd1omvx3XHWtktnSkK85sScB" style="left: 150px; position: relative;"></video>
            </div>
            <div class="item"><img src="img/projects/generative-trees/tree3.jpg"></div>
            <div class="item"><img src="img/projects/generative-trees/tree4.jpg"></div>
            <div class="item"><img src="img/projects/generative-trees/tree5.jpg"></div>
            <div class="item"><img src="img/projects/generative-trees/tree6.jpg"></div>
            <div class="item"><img src="img/projects/generative-trees/tree7.jpg"></div>
            <div class="item"><img src="img/projects/generative-trees/tree8.jpg"></div>
        </div>
        <a class="carousel-control left" href="#project-carousel" data-slide="prev"><div>&lsaquo;</div></a>
        <a class="carousel-control right" href="#project-carousel" data-slide="next"><div>&rsaquo;</div></a>
    </div>
</div>

<div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/generative-trees/tree1.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/generative-trees/tree2.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/generative-trees/tree3.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/generative-trees/tree4.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/generative-trees/tree5.jpg">
    </div>

    <div class="span2 offset1">
        <img src="img/projects/generative-trees/tree6.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/generative-trees/tree7.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/generative-trees/tree8.jpg">
    </div>

</div>