<div class="row">
    <div class="project-description span10 offset1">
        <h2>Gif Dance Party</h2>
        <p>
          Gif Dance Party (the Installation, not to be confused with the Website) is evolution of the photo booth. Rather than the conventional photo booth, which removes you from the party and produces an artifact only for you, we turn it around so your selfie feeds back into the party. Utilizing the Kinect camera, we capture your dancing self (or cartwheeling or hip-thrusting selves), produce looping GIFs, and feed into our VJs arsenal to create a mashup of internet memes and party-goers, all delighting in the same dancefloor madness, projected large-scale throughout the venue.
        </p>
        <p>
          My role in this project was as a developer amongst an organically-driven team of coders + makers. On the software side, this included adding stability & feature additions to the photo booth and VJ apps. On the event side, this included everything from setup/breakdown, running the photo booth & interacting with party-goers, VJing, and acting as the projectionist.
        </p>
        <p>
            Selected Press:<br>

            <a href="http://gifdanceparty.com/">Gif Dance Party Installation Official Site</a><br>
            <a href="http://boingboing.net/2015/11/03/gif-dance-party-lets-you-get-d.html">GIF Dance Party lets you get down with all your favorite loops</a> - Boing Boing<br>
            <a href="http://prostheticknowledge.tumblr.com/post/124748108106/gif-dance-party-irl-continuation-of-project-by">GIF Dance Party IRL</a> - Prosthetic Knowledge<br>
            <a href="http://futureofstorytelling.org/join-the-digital-dance-party/">Join the Digital Dance Party</a> - Future of StoryTelling<br>
        </p>
        <p>
            A <a href="http://fuzzywobble.com/">Fuzzy Wobble</a> project.
        </p>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="project-image-container">
            <iframe width="780" height="439" src="//www.youtube.com/embed/UnKpv8m5yoE?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="project-image-container">
            <iframe width="780" height="439" src="//www.youtube.com/embed/miqibAd7FLg?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
