<div class="row">
    <div class="project-description span10 offset1">
        <h2>GIF Wall</h2>
        <p>
            In addition to traditional headshots, the 2013 thesis students from the Parsons MFA Design+Technology program created animated GIF portraits for the <a href="http://mfadt.parsons.edu/2013/">exhibition website</a>. This installation was created to bring this element of the website into the exhibition gallery itself and was displayed on a wall-mounted television in the entryway to the gallery. <a href="http://mfadt.parsons.edu/2013/gifshow">View the web app</a>
        </p>
        <p>
            Created with HTML, CSS, and JavaScript. A collaboration with <a href="http://fuzzywobble.com">FuzzyWobble</a> and <a href="http://danselden.me">Dan Selden</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="project-image-container">
            <iframe width="780" height="438" src="//www.youtube.com/embed/0HyPd3i5-3E?rel=0&vq=hd720" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="project-image-container">
            <img src="img/projects/gif-wall/2-gifshow.jpg">
        </div>
    </div>
</div>

<!-- <div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/mfadt-thesis-show-gif-installation/1-gifshow-video.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/mfadt-thesis-show-gif-installation/2-gifshow.jpg">
    </div>

</div> -->