<div class="row">
    <div class="project-description span10 offset1">
        <h2>Interactive Kinetic Sculpture</h2>
        <p>
            This human-like form serves as a commentary on the necessity of social interaction for mental well being. This piece utilizes input from infrared sensors and microphones to determine the degree of interaction versus isolation of its viewers. It responds by changing its mood, expressed by making or breaking eye contact, adjusting its color, and altering the tone and modulation of its voice.
        </p>
        <p>
            Created with PIC microcontroller, C code, servos, microphones, and fiber optics.
        </p>
    </div>
</div>

<div class="row">
    <div id="project-carousel" class="span10 offset1 carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="item active"><img src="img/projects/interactive-kinetic-sculpture/1-robot.gif"></div>
            <div class="item"><img src="img/projects/interactive-kinetic-sculpture/2-colorwheel.jpg"></div>
            <div class="item"><img src="img/projects/interactive-kinetic-sculpture/3-tonegen.jpg"></div>
            <div class="item"><img src="img/projects/interactive-kinetic-sculpture/4-overview.jpg"></div>
        </div>
        <a class="carousel-control left" href="#project-carousel" data-slide="prev"><div>&lsaquo;</div></a>
        <a class="carousel-control right" href="#project-carousel" data-slide="next"><div>&rsaquo;</div></a>
    </div>
</div>

<div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/interactive-kinetic-sculpture/1-robot.gif">
        <p>
            Interaction sequence
        </p>
    </div>

    <div class="span2">
        <img src="img/projects/interactive-kinetic-sculpture/2-colorwheel.jpg">
        <p>
            Color wheel
        </p>
    </div>

    <div class="span2">
        <img src="img/projects/interactive-kinetic-sculpture/3-tonegen.jpg">
        <p>
            Audio circuitry
        </p>
    </div>

    <div class="span2">
        <img src="img/projects/interactive-kinetic-sculpture/4-overview.jpg">
        <p>
            
        </p>
    </div>

</div>