<div class="row">
    <div class="project-description span10 offset1">
        <h2>Living Billboard for Twitter at Cannes Lions</h2>
        <p>
            In partnership with Twitter, we took over one wall of the iconic Palais des Festivals at the 2013 Cannes Lions Festival to bring a static two-dimensional billboard to vivid three-dimensional life. We created generative animations of Tweets and images with the #CannesLions hashtag and projected them onto the facade, telling the story of the festival at a truly epic scale. The installation ran for five nights and became a social centerpiece for the festival.
        </p>
        <p>
            My role in the project involved writing a distributed backend system consisting of a number of NodeJS applications running in the cloud and on-site in Cannes, France for logging hashtagged tweets to a database, providing a web interface to curate and moderate content to be shown, serving tweet data to the visualiser application, and prototyping a variety of animation styles for showing images.
        </p>
        <p>
            An <a href="http://incrediblemachines.net/projects/living-billboard">Incredible Machines</a> project.
        </p>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="project-image-container">
            <iframe src="//player.vimeo.com/video/70661860?color=ffd24f" width="780" height="438" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="http://vimeo.com/70661860">Living Billboard at 2013 Cannes Lions Festival</a> from <a href="http://vimeo.com/incrediblemachines">Incredible Machines</a></p>
        </div>
        <div class="project-image-container">
            <img src="img/projects/living-billboard/1-billboard-day.jpg"><br>
            The billboard at the Palais des Festivals et des Congrès during the daytime
        </div>
        <div class="project-image-container">
            <img src="img/projects/living-billboard/2-billboard-night.jpg"><br>
            The billboard at night with virtual depth, lighting, and shadows projected
        </div>
        <div class="project-image-container">
            <img src="img/projects/living-billboard/3-billboard-action.jpg">
            The billboard with animations running
        </div>
        <div class="project-image-container">
            <iframe src="//player.vimeo.com/video/90472297?color=ffd24f&amp;loop=1" width="780" height="586" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>Several early prototypes for assembling images from a number of tiles</p>
        </div>
    </div>
</div>

<!-- <div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/mfadt-thesis-show-gif-installation/1-gifshow-video.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/mfadt-thesis-show-gif-installation/2-gifshow.jpg">
    </div>

</div> -->