<div class="row">
    <div class="project-description span10 offset1">
        <h2>Lost Landmarks</h2>
        <p>
            Each day we walk through a city with an amazingly rich history, full of iconic landmarks. Sadly, many of these places can't be seen anymore because they no longer exist, lost perhaps to fire or demolition in the name of progress.
        </p>
        <p>
          During Spring of 2014, take a trip back in time with Lost Landmarks. At sites throughout Manhattan, peer through a familiar Tower Optical Co. viewer but see something completely unexpected – your surroundings are transformed into those of 100 years past!
        </p>
        <p>
            The classic binocular viewer has been reimagined and updated with digital technologies to provide a window into the past, allowing you to view and explore historic images in the same location they were captured years ago.
        </p>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="project-image-container">
            <img src="img/projects/lost-landmarks/1-LL.jpg"><br>
            Set up outside Grand Central Terminal
        </div>
        <div class="project-image-container">
            <img src="img/projects/lost-landmarks/image-2.jpg"><br>
            Looking through at the former 9th Regiment Armory on W 14th St & 6th Ave
        </div>
        <div class="project-image-container">
            <img src="img/projects/lost-landmarks/image-3.jpg"><br>
            A close-up of the former 9th Regiment Armory on W 14th St & 6th Ave
        </div>
        <div class="project-image-container">
            <img src="img/projects/lost-landmarks/image-6.jpg"><br>
            Getting set up on-site
        </div>
        <div class="project-image-container">
            <img src="img/projects/lost-landmarks/image-12.jpg"><br>
            Inside the binocular viewer head enclosure
        </div>
        <div class="project-image-container">
            <img src="img/projects/lost-landmarks/image-13.jpg"><br>
            Modeling the 3D-printed bracket to hold the iPad inside the enclosure
        </div>
        <div class="project-image-container">
            <iframe width="780" height="439" src="//www.youtube.com/embed/s0K0ApfuGkk?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- <div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/mfadt-thesis-show-gif-installation/1-gifshow-video.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/mfadt-thesis-show-gif-installation/2-gifshow.jpg">
    </div>

</div> -->
