<div class="row">
    <div class="project-description span10 offset1">
        <h2>Particles</h2>
        <p>
            Experimenting with particle systems and vector fields. Attractive and repulsive forces are used to model movements similar to schools of fish or fluids flowing around obstacles.
        </p>
        <p>
            Written in C++ using openFrameworks.
        </p>
    </div>
</div>

<div class="row">
    <div id="project-carousel" class="span10 offset1 carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="item"><img src="img/projects/qubies/1-splash.png"></div>
            <div class="item active"><img src="img/projects/qubies/2-level-1.png"></div>
            <div class="item"><img src="img/projects/qubies/3-level-1-complete.png"></div>
            <div class="item"><img src="img/projects/qubies/4-level-3.png"></div>
            <div class="item"><img src="img/projects/qubies/5-level-5.png"></div>
        </div>
        <a class="carousel-control left" href="#project-carousel" data-slide="prev"><div>&lsaquo;</div></a>
        <a class="carousel-control right" href="#project-carousel" data-slide="next"><div>&rsaquo;</div></a>
    </div>
</div>

<div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/qubies/1-splash.png">
        <p>
            Splash screen
        </p>
    </div>

    <div class="span2">
        <img src="img/projects/qubies/2-level-1.png">
        <p>
            Level 1
        </p>
    </div>

    <div class="span2">
        <img src="img/projects/qubies/3-level-1-complete.png">
        <p>
            Level completion
        </p>
    </div>

    <div class="span2">
        <img src="img/projects/qubies/4-level-3.png">
        <p>
            Level 3
        </p>
    </div>

    <div class="span2">
        <img src="img/projects/qubies/5-level-5.png">
        <p>
            Level 5
        </p>
    </div>
</div>