<div class="row">
    <div class="project-description span10 offset1">
        <h2>Spirographs</h2>
        <p>
            An experiment with spirograph algorithms to create unique, beautiful, generative forms.
        </p>
        <p>
            Written in Processing.
        </p>
    </div>
</div>

<div class="row">
    <div id="project-carousel" class="span10 offset1 carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="item active"><img src="img/projects/spiros/spiro1.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro2.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro3.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro4.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro5.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro6.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro7.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro8.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro9.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro10.jpg"></div>
            <div class="item"><img src="img/projects/spiros/spiro11.jpg"></div>
        </div>
        <a class="carousel-control left" href="#project-carousel" data-slide="prev"><div>&lsaquo;</div></a>
        <a class="carousel-control right" href="#project-carousel" data-slide="next"><div>&rsaquo;</div></a>
    </div>
</div>

<div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/spiros/spiro1.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/spiros/spiro2.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/spiros/spiro3.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/spiros/spiro4.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/spiros/spiro5.jpg">
    </div>

    <div class="span2 offset1">
        <img src="img/projects/spiros/spiro6.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/spiros/spiro7.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/spiros/spiro8.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/spiros/spiro9.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/spiros/spiro10.jpg">
    </div>
</div>