<div class="row">
    <div class="project-description span10 offset1">
        <h2>Stock Status</h2>
        <p>
            A tool developed to provide quick access to the stock status of a broad configuration of high-demand, high-volume products within a fast-paced retail environment. Up-to-date data was automatically pulled from a server and refreshed with any necessary interaction from the user.
        </p>
        <p>
            Created with HTML, CSS, JavaScript, jQuery, and PHP.
        </p>
    </div>
</div>

<div class="row">
    <div id="project-carousel" class="span10 offset1 carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="item active"><img src="img/projects/stock-status/ipad.jpg"></div>
            <div class="item"><img src="img/projects/stock-status/iphone.jpg"></div>
        </div>
        <a class="carousel-control left" href="#project-carousel" data-slide="prev"><div>&lsaquo;</div></a>
        <a class="carousel-control right" href="#project-carousel" data-slide="next"><div>&rsaquo;</div></a>
    </div>
</div>

<div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/stock-status/ipad.jpg">
        <p>
            iPad
        </p>
    </div>

    <div class="span2">
        <img src="img/projects/stock-status/iphone.jpg">
        <p>
            iPhone
        </p>
    </div>

</div>