<div class="row">
    <div class="project-description span10 offset1">
        <h2>Subwait</h2>
        <p>
            Subwait is a physical manifestation of the software progress indicator, applied to the experience of waiting for the train to arrive. Utilizing a laser-cut enclosure and LED strip, driven by the MTA's real-time transit feed, Subwait shows how far away the next train is in a manner similar to refreshing your inbox or twitter feed.
        </p>
        <p>
            Created with an Arduino, Raspberry Pi, Node.js, and the MTA real-time GTFS feed. A collaboration with <a href="http://helloimalex.com/">Alex Samuel</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="project-image-container">
            <img src="img/projects/subwait/subwait-1.jpg"><br>
            Testing the hardware and code
        </div>
        <div class="project-image-container">
            <img src="img/projects/subwait/subwait-2.jpg"><br>

        </div>
        <div class="project-image-container">
            <img src="img/projects/subwait/subwait-3.jpg"><br>

        </div>
        <div class="project-image-container">
            <iframe src="//player.vimeo.com/video/100724167?color=ffd24f" width="780" height="438" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>A look inside the hardware</p>
        </div>
        <div class="project-image-container">
            <iframe src="//player.vimeo.com/video/100724168?color=ffd24f" width="780" height="438" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>Different stages of progress, and a slow fade at the end when the train arrives</p>
        </div>
    </div>
</div>

<!-- <div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/mfadt-thesis-show-gif-installation/1-gifshow-video.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/mfadt-thesis-show-gif-installation/2-gifshow.jpg">
    </div>

</div> -->
