<div class="row">
    <div class="project-description span10 offset1">
        <h2>Open House Concept Store for Target</h2>
        <p>
          Open House aims to help consumers understand the burgeoning market and various use cases of the exploding Connected Home/Internet of Things
          variety of products beyond what classic product packaging and simple out-of-box demos can provide. By creating a full-scale, acrylic model home including various rooms (living room, bedroom, nusery, garage, etc.) complete with furniture and embedded products, kiosks and projections provide an interface to a variety of vignettes which depict how products can help simplify & elucidate miscelanneous daily life tasks, especially when coupled together. A separate area with interactive touch tables provide a deep-dive into product information, compabtibility with different platforms, and interoperability with other devices.
        </p>
        <p>
          My role in this project was largely as a support developer, responsible mainly for user-tracking across multiple interactives. This included using the Kinect 2 for determining visitor location in rooms of the model house to drive corresponding visuals in the projections and creating an infrared sensor array along the product touch tables such that the UI could respond in various ways, in addition to providing a simple interface on scattered tablets to select assortded vignettes for playback within the rooms of the house. Further, there were a plethora of on-site installation tasks, including extensive software documentation, working with the client to and various vendors to ensure we were on track for launch, etc.
        </p>
        <p>
            Selected Press:<br>

            <a href="http://www.engadget.com/2015/07/11/target-iot-open-house/">Target attempts to unravel the connected home with new showroom</a> - Engadget<br>
            <a href="http://www.wired.com/2015/07/new-target-store-takes-inside-home-future/">New Target Store Takes You Inside the Connected Home</a> - Wired<br>
            <a href="http://openhouse.target.com/#/">Open House Official Site</a> - Target<br>
        </p>
        <p>
            A <a href="http://localprojects.com">Local Projects</a> project.
        </p>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="project-image-container">
            <iframe src="https://player.vimeo.com/video/145550632?title=0&byline=0&portrait=0" width="780" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="https://vimeo.com/145550632">Target Open House</a> from <a href="https://vimeo.com/localprojects">Local Projects</a></p>
        </div>
        <div class="project-image-container">
            <iframe width="780" height="439" src="//www.youtube.com/embed/mRHtgzkFjUM?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="project-image-container">
            <img src="img/projects/target-open-house/target-open-house-1.jpg"><br>
            Photo credit: <a href="https://www.youtube.com/watch?v=mRHtgzkFjUM">Target</a>
        </div>
        <div class="project-image-container">
            <img src="img/projects/target-open-house/target-open-house-2.jpg"><br>
            Photo credit: <a href="http://localprojects.net/project/target-open-house-2/">Local Projects</a>
        </div>
        <div class="project-image-container">
            <img src="img/projects/target-open-house/target-open-house-3.jpg"><br>
            Photo credit: <a href="http://localprojects.net/project/target-open-house-2/">Local Projects</a>
        </div>
    </div>
</div>
