<div class="row">
    <div class="project-description span10 offset1">
        <h2>The Power Garden for Naked Juice</h2>
        <p>
            The ingredients in Naked Juice’s new Power Garden vegetable juice line are brought to life. In a bustling Chicago plaza, an interactive experiment in urban agriculture invites commuters to reconnect with the nature behind each bottle of Naked Juice in a visceral way. Brimming with real vegetables that we transformed into simple botanic circuits, our garden invited visitors to discover the veggies’ unique personalities by touching them, triggering life-like audio reactions. Visitors helped keep the garden hydrated by Tweeting water to @ThePowerGarden which turned on the garden’s sprinklers. Over the course of the two month installation, fans from around the world helped care for the garden, checked its progress on our live webcam, and helped harvest the produce at the end of the summer.
        </p>
        <p>
            My role in the project involved writing software for real-time communication with a number of digital garden signs related to sensor information & signage content, responding to user interaction over Twitter to enable the garden's sprinklers and affect signage content, and creating a web-based administrator interface for monitoring and configuring all aspects of garden-related data.
        </p>
        <p>
            An <a href="http://incrediblemachines.net/projects/the-power-garden">Incredible Machines</a> project.
        </p>
    </div>
</div>

<div class="row">
    <div class="span10 offset1">
        <div class="project-image-container">
            <iframe src="//player.vimeo.com/video/80825700?color=ffffff" width="780" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="http://vimeo.com/80825700">CURB - Naked Juice's Power Garden (Chicago)</a> from <a href="http://vimeo.com/rawprouk">RAW Productions</a></p>
        </div>
        <div class="project-image-container">
            <iframe src="//player.vimeo.com/video/77705083?color=ffd24f" width="780" height="439" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="http://vimeo.com/77705083">The Power Garden - Urban Agriculture Experiment in Chicago</a> from <a href="http://vimeo.com/incrediblemachines">Incredible Machines</a></p>
        </div>
    </div>
</div>

<!-- <div class="row project-thumbnails">

    <div class="span2 offset1">
        <img src="img/projects/mfadt-thesis-show-gif-installation/1-gifshow-video.jpg">
    </div>

    <div class="span2">
        <img src="img/projects/mfadt-thesis-show-gif-installation/2-gifshow.jpg">
    </div>

</div> -->