<div class="row">
    <div class="project-description span10 offset1">
        <h2>Wikipedia Earthquakes Visualized</h2>
        <p>
            A data visualization piece comparing the impact of an earthquake, quantified by its magnitude and death toll, with its Wikipedia presence, quantified by the article length and number of language translations available. Interestingly, this correlation is not strong, nor is there a strong correlation between online presence and more recent articles.
        </p>
        <p>
            Created with the Mediawiki/Wikipedia API, PHP, D3.js, and Illustrator.
        </p>
    </div>
</div>

<div class="row">
    <div id="project-carousel" class="span10 offset1 carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="item active"><img src="img/projects/wikipedia-earthquakes-visualized/wikipedia-earthquakes-visualized.jpg"></div>
        </div>
    </div>
</div>